<div class="row">
    <h2 class="col-6"><%= @shelter.name %></h2>
    <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit", class: "col-3 font-heavy shelter-update-top" %>
    <%= link_to "View Pets", "/shelters/#{@shelter.id}/pets", class: "col-3 font-heavy shelter-update-top" %>

</div>
<div class="row shelter-info"
    <div class="col-6">
        <p class="light-text"><%= @shelter.address %></p>
        <p class="light-text"><%= @shelter.city %></p>
        <p class="light-text"><%= @shelter.state %></p>
        <p class="light-text"><%= @shelter.zip %></p>
    </div>
    <div class="col-6">
        <%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete, class: "font-heavy" %>
    </div>
</div>

<div class="row">
  <h2 class="col-3">Reviews</h2>
  <%= link_to "Write a Review", "/shelters/#{@shelter.id}/reviews/new", class: "col-3 font-heavy shelter-update-top" %>
</div>
<div class="row shelter-info">
  <div class ="col-6">
    <% @reviews.each do |review| %>
      <p class="light-text font-heavy"><%= review.title %></p>
      <p class="light-text"><%= review.rating %>/5</p>
      <p class="light-text"><%= review.content %></p>
      <% if review.picture %>
        <%= review.picture %>
      <% end %>
    <% end %>
  </div>
</div>
