<div style="overflow:scroll;">

<div class="row">
    <h2 class="col-6"><%= @shelter.name %></h2>
    <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit", class: "col-3 font-heavy shelter-update-top" %>
    <%= link_to "View Pets", "/shelters/#{@shelter.id}/pets", class: "col-3 font-heavy shelter-update-top" %>

</div>
<div class="row shelter-info"
    <div class="col-6">
        <p class="light-text"><%= @shelter.address %></p>
        <p class="light-text"><%= @shelter.city %></p>
        <p class="light-text"><%= @shelter.state %></p>
        <p class="light-text"><%= @shelter.zip %></p>
    </div>
    <div class="col-6">
        <%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete, class: "font-heavy" %>
    </div>
</div>
<div class="row">
  <h2 class="col-3">Reviews</h2>
  <%= link_to "Write a Review", "/shelters/#{@shelter.id}/reviews/new", class: "col-3 font-heavy shelter-update-top" %>
</div>
<%#we will need to define new CSS for the reviews %>
<div>
  <div>
    <% @reviews.each do |review| %>
    <div>
      <p><%= review.title %>
        <%= link_to "Update", "/shelters/#{review.shelter_id}/reviews/#{review.id}/edit" %></p>
    </div>
    <div>
      <p><%= review.rating %></p>
    </div>
    <div>
      <p><%= review.content %></p>
    </div>
      <% if review.picture %>
        <p><%= review.picture %></p>
      <% end %>
    <% end %>
  </div>
</div>
</div>
