<div class="row shelter-info"
  <div class="col-6">
    <p class="light-text"><%= @application.name %></p>
    <p class="light-text"><%= @application.address %></p>
    <p class="light-text"><%= @application.city %></p>
    <p class="light-text"><%= @application.state %></p>
    <p class="light-text"><%= @application.zip %></p>
    <p class="light-text"><%= @application.description %></p>
    <p>Pets: 
      <% @application.pet_applications.each do |pet_application| %>
        <div class="pet-app-<%= pet_application.id %>">
          <%= link_to "#{pet_application.pet.name}", "/pets/#{pet_application.pet.id}", class: "col-2 font-heavy light-text" %>
          <%= link_to "#{pet_application.link_text}", "/pet_applications/#{pet_application.id}",method: :patch, class: "col-4 font-heavy #{pet_application.link_class}" %>
        </div>
      <% end %>
    </p>
  </div>
</div>