<h1>Pets</h1>
<div class="row new-entry">
    <%= link_to "Create Pet", "/shelters/#{params[:shelter_id]}/pets/new", class: "font-heavy light-text" %>
</div>
<% @shelter_pets.each do |pet| %>
    <div class="row pet-entry">
        <div class="col-4"
            <figcaption><%= link_to "#{pet.name}", "/pets/#{pet.id}", class: "font-heavy light-text" %></figcaption>
            <img src="<%= pet.image %>" class="pet-image"></img>
        </div>
        <div class="col-8">
            <p class="font-light light-text">Approximate age: <%= pet.age %></p>
            <p class="font-light light-text">Sex: <%= pet.sex %></p>
            <%= link_to "Update", "/pets/#{pet.id}/edit", class: "pet-update light-text" %><br>
            <%= link_to "Delete", "/pets/#{pet.id}", method: :delete, class: "light-text" %>
        </div>
    </div>
<% end %>