<h1>Pets</h1>
<%= link_to "Create Pet", "/shelters/#{params[:shelter_id]}/pets/new" %>
<% @shelter_pets.each do |pet| %>
    <figcaption><%= link_to "#{pet.name}", "/pets/#{pet.id}", class: "name-link" %></figcaption>
    <img src="<%= pet.image %>" class="pet-image"></img>
    <p>Approximate age: <%= pet.age %></p>
    <p>Sex: <%= pet.sex %></p>
    <%= link_to "Update", "/pets/#{pet.id}/edit" %>
    <%= link_to "Delete", "/pets/#{pet.id}", method: :delete %>
<% end %>