<div class="row pet-header">
    <h2 class="col-6"><%= @pet.name %></h2>
    <%= link_to "All Applications", "/pets/#{@pet.id}/applications" %>
    <%= link_to "#{@button_text}", "/favorites/#{@pet.id}", method: @button_action, class: "col-4 font-heavy #{@button_class}" %>
</div>

<div class="row pet-entry">
    <div class="col-6">
        <img src='<%= @pet.image %>' class="pet-image"></img>
    </div>
    <div class="col-6">
        <p class="light-text"><%= @pet.description %></p>
        <p class="light-text">Approximate Age: <%= @pet.age %></p>
        <p class="light-text">Sex: <%= @pet.sex %></p>
        <p class="light-text">Adoption status: <%= @pet.adoption_status %></p>
        <% if @pet.adoption_status == "Pending" %>
            <p class="light-text">On hold for <%= @approved_application.application.name %></p>
        <% end %>
        <p><%= link_to "Update Pet", "/pets/#{@pet.id}/edit", class: "font-heavy light-text" %></p>
        <p><%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete, class: "font-heavy light-text" %></p>
    </div>
</div>
