<h2><%= @pet.name %></h2>
<img src='<%= @pet.image %>'></img>
<p><%= @pet.description %></p>
<p>Approximate Age: <%= @pet.age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Adoption status: <%= @pet.adoption_status %></p>