<div class='row'>
    <h2 class="col-3">New Review</h2>
</div>

<div class="input-form">
    <%= form_tag "/shelters/#{@shelter_id}/reviews", method: :post do %>
        <div class="row form-entry">
            <%= label_tag :title, nil, class: "col-2 light-text" %>
            <%= text_field_tag :title, nil, class: "col-5", required: true %>

            <%= label_tag :rating, nil, class: "col-3 light-text" %>
            <%= select_tag :rating, options_for_select([1, 2, 3, 4, 5]), required: true %>
        </div>
        <div class="row form-entry">    
            <%= label_tag :content, nil, class: "col-2 light-text" %>
            <%= text_field_tag :content, nil, class: "col-8", required: true %>
        </div>
        <div class="row form-entry">
            <%= label_tag :picture, nil, class: "col-2 light-text" %>
            <%= text_field_tag :picture, nil, class: "col-8"%>
        </div>
        <div class="row form-entry">
            <%= submit_tag "Submit", class:"col-3" %>
        </div>
    <% end %>
</div>