<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="row">
      <%= link_to "Pets", "/pets", class: "col-2 nav-link" %>
      <%= link_to "Shelters", "/shelters", class: "col-2 nav-link" %>
      <%= link_to "Favorites #{favorites.total_count}", "/favorites", class:"col-2 nav-link"%>
    </nav>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
